<table class="symbols ll1-table">
  <colgroup>
    <col>
  </colgroup>
  <colgroup class="t">
    <%- Helpers.repeatString("<col>", Sets.count(info.terminals) + 1) %>
  </colgroup>
  
  <tr>
    <th></th>
    <% info.terminalOrder.forEach(function(symbol) { %>
      <th><%- Helpers.formatSymbol(symbol, info) %></th>
    <% }) %>
    <th><%- Helpers.formatSymbol(END, info) %></th>
  </tr>
  
  <% info.productionOrder.forEach(function(nt) { %>
    <tr>
      <th scope="row"><%- Helpers.formatSymbol(nt, info) %></th>
      <% info.terminalOrder.concat(END).forEach(function(t) { %>
        <% if (typeof table[nt][t] !== "undefined") { %>
          <td class="<%- table[nt][t].length > 1 ? "conflict" : "" %>">
            <ul>
              <% table[nt][t].forEach(function(p) { %>
                <li><%- Helpers.formatProduction(productions[p], info) %>
              <% }) %>
            </ul>
          </td>
        <% } else { %>
          <td></td>
        <% } %>
      <% }) %>
    </tr>
  <% }) %>
</table>
