<h1>Nonterminals</h1>

<table class="symbols">
  <tr>
    <th>Symbol</th>
    <th>Nullable?</th>
    <th>Endable?</th>
    <th>First set</th>
    <th>Follow set</th>
  </tr>
  <% info.productionOrder.forEach(function(symbol) { %>
    <tr>
      <td><%- Helpers.formatSymbol(symbol, info) %></td>
      <td><%- nullable[symbol] ? "Nullable" : "" %></td>
      <td><%- endable[symbol] ? "Endable" : "" %></td>
      <td><%- Helpers.formatSymbols(Helpers.listSymbols(first[symbol] || {}, info.terminalOrder), info).join(", ") %></td>
      <td><%- Helpers.formatSymbols(Helpers.listSymbols(follow[symbol] || {}, info.terminalOrder), info).join(", ") %></td>
    </tr>
  <% }); %>
</table>
