<button data-action="undo">Undo</button> <button data-action="redo">Redo</button>

<table class="symbols productions">
  <% productions.forEach(function(production, i) { %>
    <tr>
      <td>
        <% production.forEach(function(symbol, j) { %>
          <% if (transformations[i][j].length > 0) { %>
            <span class="pill"><%= Helpers.formatSymbol(symbol, info) %><select><option disabled selected><%= symbol %></option><% transformations[i][j].forEach(function(transformation) { %><option value="<%= transformation.index %>"><%= transformation.name %></option><% }) %></select></span>
          <% } else { %>
            <%= Helpers.formatSymbol(symbol, info) %>
          <% } %>
          <% if (j === 0) { %>
            &rarr;
          <% } %>
        <% }) %>
        <% if (production.length === 1) { %>
          <u>&epsilon;</u>
        <% } %>
      </td>
    </tr>
  <% }); %>
</table>
